<div>this is the root</div>

<%= content_tag :div, id: "book_question", data: retailer.to_json do %>
  This is <%= retailer.id %>
<% end %>

<% customers.each do |customer| %>
  <div>
    Customer Name: <%= customer.name %>
    Customer Email: <%= customer.email %>
  </div>
<% end %>
